services:
  - type: web
    name: show-semiarido
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_PATH
        value: ./data/app.sqlite
      - key: CLIENT_ORIGIN
        sync: false

